//custom theme styling - dickensleungwebportfolio
.user-logo{
    cursor: pointer;
    position: fixed;
    top: 1rem;
    left: .7em;
    padding: .4rem 0 0 .4rem;
    z-index: 99;

    a{
        font-size: 1.7rem;
        font-family: $attentionFont;
        font-weight: 600;
        background-color: rgb(184, 216, 126);
        letter-spacing: 1.2px;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;

    }
}

.user-logo:hover{
    a{
        background-color: #27273c;
        color: $white;
    }
}
.project-card-container{
    ul{
        margin: 0;
        padding: 1em .7em;       
        li{
            a{
                background: #27273c;
                color: #fff;
                margin-bottom: 0.6em;
                padding: 0.6em 0.9em;
                display: inline-block;
                font-size: .85em;
                line-height: 1em;
                border-radius: 2px;
            }
        }
    }
}

.choice-btn{
	margin: 20px 10px;
	width: 200px;
    background-color: rgb(184, 216, 126);
    font-family: $bodyFont;
	font-size: 1.15em;
	font-weight: 700;
	border: 4px solid rgb(184, 216, 126);
    border-radius: 5rem;
	padding: 10px;
    position: relative;
    overflow: hidden;
    transition: all ease-in-out .35s;
    z-index: 1;
}

.choice-btn:hover{
    background-color: rgb(184, 216, 126);
    border: 4px solid rgb(184, 216, 126);
	outline: none;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
    cursor: pointer;
}
.footer-content{
    margin: 15em 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#social-icons{
    padding-top: 2em;
    position: absolute;
    left: 0;
    ul{
        margin: 0 0 0 1.2em;
        padding: 0;
        display: flex;
    }
    li{
        padding: 20px 0;
    }
    i{
        color: $white;
        background-color: #27273c;
        font-size: 1.2em;
        margin: 0 5px;
        padding: 8px;
        -webkit-transition: background-color 250ms cubic-bezier(.55, .085, .68, .53);
        transition: background-color 250ms cubic-bezier(.55, .085, .68, .53);
    }

    i:hover{
        color: #27273c;
        background-color: $white;
    }
}

.fa-inbox:hover, .fa-github:hover, .fa-linkedin-in:hover{
    z-index: 999;
}

