.site-footer{
    font-family: $attentionFont;
    font-size: .6em;
    padding: 0 1em;
    clear: both;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    text-align: right;
}

.footer-content-text{
    font-family: $attentionFont;
}