//custom theme styling - dickensleungwebportfolio
.footer-content{
    margin: 0;
}

.site-footer{
    .site-info{
        padding: 0 10px;
        text-align: center;
    }
    
}
.description-content{
    z-index: 999;
    .description-header{
        padding: .6em 0;
        h1{
            font-size: 3em;
            font-family: $headingFont;
            color: $white;
            margin: 0;
        }
        
        h2{
            font-size: 1.2em;
            font-family: $headingFont;
            color: $white;
            
        }
    }



   /*.fab{
        font-size: 1.7em;
        margin-bottom: 20px;

        .fab:hover{
            cursor: pointer;
            transition: all 1.1s ease-in-out;
            font-weight: 400;
        }
        .fa-html5:hover{
            color: #E44D26;
        }
        
        .fa-css3-alt:hover{
        color: #264de4;
        }
        
        .fa-sass:hover{
        color: #c69;
        }
        
        .fa-js:hover{
        color: #F0DB4F;
        }
        
        .fa-php:hover{
        color: #565cd1;
        }
        
        .fa-react:hover{
        color: #61DBFB;
        }
    }*/


}

.content{
    #rightcol{
        //background-color: $bgcblue;
        z-index: 99;
        #home-section-title{
            color: $bodycolor;
            font-family: $bodyFont;
            font-size: 1.7em;
            font-weight: 700;
            
        }
    }

    .project-card-container{
        margin: 5px 0;

        #project-title{
            color: $projecttitle;
        }

        h4, p{
            color: $projectcontentcolor;
        }

        p{
            padding-right: 2.5em;
        }

    }
    
}
//MEDIA ALIGNMENTS
.content{
    width: 100%;

    #leftcol{
        padding: 6em .8em;
        position: relative;

        .description-content{
            max-width: 555px;
            .body-content-row{
                padding: 0 1.2em 0 0;
            }
            .body-content-column{
                overflow-wrap: break-word;
                word-wrap: break-word;
                padding: 0 1.2em 0 0;
            }

            .footer-content{
                .footer-content-text{
                    margin: 0;
                }

                .tools-icon{
                    font-size: 2.2em;
                    color: $bgcblue;
                }
            }
        }
    }

    #rightcol{
        justify-self: center;
        #home-section-title{
            padding: 0 0 .7em 0;
        }

        .project-card-container{
            p{
                margin: 0 10px 0;
            }
        }

        .pill-wrapper{
            padding: 0 10px 0 10px;
        }
    }

   
}