//custom theme styling - dickensleungwebportfolio
@media only screen and (min-width: 768px){
    .content .project-card-container{
        padding: 0;
    }

    .project-card-container #project-card-wrapper{
        margin: 0 0 1em 0;
    }

    .menu-bar1, .menu-bar2, .menu-bar3 {
        background-color: rgb(0, 0, 0);
    }

    .active .menu-bar1, .active .menu-bar2 , .active .menu-bar3{
        background-color: #fff;
    }
    .content{
        #rightcol{
            visibility: visible;
        }
    }

}

@media only screen and (min-width: 912px){
    .overlay{
        width: 50%;
    }

    nav ul{
        padding: 15em 0;
    }




}

@media only screen and (min-width: 1320px){
    .description-content{
        padding: 0 0 0 4.5em;
    }

    .content{
        #rightcol{
            padding: 2em 4.5em;
        }
    }

    
    
}

.user-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 1600px){
    .description-content .description-header{
        h1{
            font-size: 3em;
           
        }

        h2{
            font-size: 2.5em;
            line-height: 43px;
        }
        
    }

    .content{
        #project-card-wrapper{
            a{
                height: 2.45em;
            }
            #project-title{
                font-size: 4.2em;
            }
        }
    }
    
}

//MIN-HEIGHT QURIES

@media only screen and (min-height: 1024px){
    nav ul{
        padding: 6em 0;
    }

}
