//custom theme styling - dickensleungwebportfolio
#site-navigation{
    display: none;
}

#masthead{
  background-color: transparent;
  margin: 0 10px;
  padding: 10px;
  position: fixed;
}


.nav-links{
  padding: 0 16px;
}

/* ------ MAIN NAV --------- */
/* Scrollbar decoration -- Chrome, Safari */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  }
  ::-webkit-scrollbar-track-piece  {
      background-color: transparent;
  }
  ::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background-color: #252E35;
  border-radius: 10px;
}
/*--------Footer -------------*/
.footer-content{
  .footer-content-text{
    margin: .4em 0;
    color: grey;
  }
  .tools-icon{
    font-size: 1.5em;
    margin-bottom: 20px;

    .fab:hover{
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    }
    .fa-html5:hover{
    color: #E44D26;
    }

    .fa-css3-alt:hover{
    color: #264de4;
    }

    .fa-sass:hover{
    color: #c69;
    }

    .fa-js:hover{
    color: #F0DB4F;
    }

    .fa-php:hover{
    color: #565cd1;
    }

    .fa-react:hover{
    color: #61DBFB;
    }
  
    
  }
}



/* ------ Hamburger --------- */
.logo-sub-text{
	position: relative;
}

/* HELPER CLASSES */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}


/***********************/
/* NAVIGATION MENU */
/***********************/

/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.overlay-slide-down {
  transition: all 0.8s ease-in-out;
  transform: translateY(0);
}

.overlay-slide-up {
  transition: all 0.6s ease-in-out;
  transform: translateY(-200%);
}

/* NAV MENU ITEMS */
nav ul {
  height: 100vh;
  list-style: none;
  margin: auto 0;
  padding: 10em 0;
  display: flex;
  flex-direction: column;
}
nav ul li {
  height: 5.5em;
  margin: .5em 0;
  padding: .7em 0 0 0;
  a{
    font-size: 1.25em;
  }

  a:link{
    display: inline-block;
    color: #fff;
  }

  a:visited{
    color: #fff;
  }
  
  a:link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $white;
    transition: width .2s;
  }
  
  a:link:hover::after{
    width: 100%;
  }
}

nav ul li:hover{
  cursor: pointer;
}




/***********************/
/* NAV SLIDE IN ANIMATION */
/***********************/

.slide-in-1 {
  animation: slide-in 0.25s linear 0.1s both;
}

.slide-in-2 {
  animation: slide-in 0.25s linear 0.15s both;
}

.slide-in-3 {
  animation: slide-in 0.25s linear 0.17s both;
}

.slide-in-4{
  animation: slide-in 0.25s linear 0.2s both;
}

.slide-in-5 {
  animation: slide-in 0.25s linear 0.25s both;
}



@keyframes slide-in {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0);
  }
}

/***********************/
/* NAV SLIDE OUT ANIMATION */
/***********************/

.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/***********************/
/* HAMBURGER MENU ANIMATION */
/***********************/

.hamburger-menu {
  position: fixed;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
  z-index: 999;
  padding: .5rem;
}

.menu-bar1,
.menu-bar2,
.menu-bar3 {
  width: 3rem;
  height: 0.2rem;
  background-color: #000;
  margin: 0.8rem 0;
  transition: 0.4s;
}

.menu-bar2 {
  width: 2rem;
  margin-left: auto;
}

/* ROTATE FIRST BAR */
.active .menu-bar1 {
  /* transform: rotate(-45deg) translate(-7px, 8px); */
  transform: rotate(-45deg) translate(-0.7rem, 0.8rem);
  background-color: $white;
}

/* FADE OUT SECOND BAR */
.active .menu-bar2 {
  opacity: 0;
  background-color: $white;
}

/* ROTATE LAST BAR */
.active .menu-bar3 {
  /* transform: rotate(45deg) translate(-6px, -8px); */
  transform: rotate(45deg) translate(-0.6rem, -0.8rem);
  background-color: $white;
}

#nav-4{
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  padding: 2em 0;

  #project-nav-content{
    display: flex;
    flex-direction: row;
    padding: 0 1em;
    h4{
      font-size: .7em;
      margin: 0 5px;
    }
  }
}





